.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 120px 1em 1em 1em; */
  padding: 50px;
  width: 100vw;
  font-weight: bold;
}

.wrapper {
  position: relative;
}

.pwInput {
  box-sizing: border-box;
}

.pwIcon {
  width: 15px;
  transform: translateY(30%) translateX(-150%);
  position: absolute;
}

.errorMsg {
  color: rgb(167, 0, 0);
  font-weight: bold;
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0.384);
  padding-left: 3px;
}

.input {
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
}

.linkBox {
  margin-top: 14px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
