* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --cambridgeBlue: #8fab87;
  --dutchWhite: #efdeb4;
  /* --dutchWhite: #ece8de; */

  font-family: monospace;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  font-weight: 700;
  font-style: italic;
}

body {
  margin: 0;
  display: flex;
  padding-top: 120px;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  /* background-color: var(--dutchWhite); */
  /* background-image: url("./assets/background/1_frei.jpg"); */
  background-image: url("./assets/background/1_cropped.jpg");
  height: 100vh;
  margin-top: -70px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center -220px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: lightgray;
  border-radius: 10px;
  border: black 1px solid;
  box-shadow: black 3px 3px;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--cambridgeBlue);
  border: lightgray 1px solid;
  box-shadow: black 3px 3px;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
